<!--
 * @Author: tkiddo
 * @Date: 2021-02-23 09:50:52
 * @LastEditors: tkiddo
 * @LastEditTime: 2021-02-23 21:55:24
 * @Description: 
-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Your App</title>
  <script>
      
      function collectData() {
        const times = {};
        const t = performance.getEntriesByType('navigation')[0];
        console.log(t)

        //重定向时间
        times.redirectTime = t.redirectEnd - t.redirectStart;

        //dns查询耗时
        times.dnsTime = t.domainLookupEnd - t.domainLookupStart;

        //TTFB 读取页面第一个字节的时间
        times.ttfbTime = t.responseStart - t.requestStart;

        //DNS 缓存时间
        times.appcacheTime = t.domainLookupStart - t.fetchStart;

        //卸载页面的时间
        times.unloadTime = t.unloadEventEnd - t.unloadEventStart;

        //tcp连接耗时
        times.tcpTime = t.connectEnd - t.connectStart;

        //request请求耗时
        times.reqTime = t.responseEnd - t.responseStart;

        //解析dom树耗时
        times.analysisTime = t.domComplete - t.domInteractive;

        //白屏时间
        times.blankTime = t.responseEnd - t.fetchStart;

        //domReadyTime
        times.domReadyTime = t.domContentLoadedEventEnd - t.fetchStart;

        
        
        return times;
      }
      console.log(JSON.stringify(collectData()))
      function logData(){
        console.log(navigator.sendBeacon('/admin/api/performance','a=1&b=2' ))
      }
      logData()
      // window.addEventListener('unload', logData, false);
    
  </script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
